@inherits StoreSetupBase
@if (Model != null)
{
    <Modal @ref="modalRef">
        <ModalContent IsCentered="true">
            <ModalHeader>
                <ModalTitle>Setup store</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Name"
                              Disabled="true"
                              @bind-Text="Model.Name" />
                </Field>
                <Field>
                    <FieldLabel>Swish number</FieldLabel>
                    <TextEdit @bind-Text="@Model.PayoutSwishNumber"
                              MaskType="MaskType.RegEx"
                              EditMask="^[\d]{0,13}$"
                              Placeholder="Swish number" />
                </Field>
                <Field>
                    <FieldLabel>Erase unused customers</FieldLabel>
                    <Button Color="Color.Danger" Clicked="EraseUnusedCustomers">Erase customers</Button>
                </Field>
                <Field>
                    <p>Total assets @(Model.StoreStats.TotalAssetWorth.ToString("0.00"))kr</p><br />
                    <p>Total margin @(Model.StoreStats.TotalMargin.ToString("0.00"))kr</p><br />
                    <p>Total sold @(Model.StoreStats.TotalSold.ToString("0.00"))kr</p>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@Close">Close</Button>
                <Button Color="Color.Primary" Clicked="@Save">Save</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}