@inherits RowBase


<div class="single-slide" data-order="@RowModel.Order" style="cursor: pointer">
    <div class="l-row-content">
        @if (RowModel.IsDisabled)
        {
            <del class="l-row-name">@RowModel.Name ##### </del>
        }
        else
        {
            <div class="l-row-name">@RowModel.Name ##### </div><div class="l-row-price"><div id="@RowModel.ProductId">@(RowModel.Price)</div>Kr</div>
        }
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await AnimateNumber(RowModel.ProductId, 0, RowModel.Price, AnimeringsHastighet);
    }
}

