@if (model != null)
{
<Modal @ref="modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Add new product</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit Placeholder="Name"
                          @bind-Text="model.Name" />
            </Field>
            <Field>
                <FieldLabel>Price</FieldLabel>
                <NumericEdit @bind-Value="@model.Price"
                             Attributes="@(new Dictionary<string, object> { { "inputmode", "decimal" } })"
                             Decimals="2"
                             Min="1"
                             Max="50000"
                             Placeholder="Price" />
            </Field>
            <Field>
                <FieldLabel>Quantity</FieldLabel>
                <NumericEdit @bind-Value="@model.Quantity"
                             Min="1"
                             Max="10000"
                             Placeholder="Quantity" />
            </Field>
            <Field>
                <FieldLabel>Local profit</FieldLabel>
                <NumericEdit @bind-Value="@model.LocalProfit"
                             Attributes="@(new Dictionary<string, object> { { "inputmode", "decimal" } })"
                             Decimals="2"
                             Min="0.1f"
                             Max="10"
                             Placeholder="Local profit" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@Close">Close</Button>
            <Button Color="Color.Primary" Clicked="@AddProduct">Add product</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
}
@code{
    [Parameter] public EventCallback<NewProductCommand> OnAddProduct { get; set; }
    [Parameter] public string StoreId { get; set; }

    private Modal modalRef;
    private NewProductCommand model;

    protected override void OnInitialized()
    {
        model = new NewProductCommand(StoreId);
    }

    public void ShowModal()
    {
        model = new NewProductCommand(StoreId);

        modalRef.Show();
    }

    public void Close()
    {
        modalRef.Hide();
    }

    public async Task AddProduct()
    {
        if (model.IsValid()) {
            await OnAddProduct.InvokeAsync(model);

            modalRef.Hide();
        }

    }
}
